html, body {
    margin: 0; /* 브라우저 기본 공백 제거 */
    box-sizing: border-box;
  }

.pageContainer {
    background-color: #1e2351;
    padding: 40px;
    box-sizing: border-box; /* 지정한 width 안에 padding과 border가 포함되도록 */
}

.movieContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.movieItemContainer {
    width: 200px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.movieItemContainer:hover {
    transform: scale(1.03);
}

.moviePoster {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
  
.moviePoster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; /* 이미지 아래 공백 제거 */
}

.movieTitleBox {
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.movieTitle {
    width: 70%;
    font-size: 15px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movieReview {
    font-size: 14px;
    font-weight: bold;
    color: #666;
}